# ignore the virtual environment we're using for ansible
venv

# ignore the .env file that provisioning renders
.env

# Python residue
__pycache__

# up'ing a VM leaves residue
*.log
.vagrant

# Terraform bits to ignore
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
