# ignore the virtual environment we're using for ansible
venv

# ignore the .env file that provisioning renders
.env

# ignore the local app.db when using Vagrant
data

# Python residue
__pycache__

# up'ing a VM leaves residue
*.log
.vagrant
