[uwsgi]
uid = {{ ansible_user }}
gid = {{ ansible_user }}

chdir = {{ app_dir }}
home = {{ app_dir }}/venv
module = wsgi:app

master = true
processes = 2
threads = 2

socket = /tmp/uwsgi.socket
chmod-socket = 777
vacuum = false

# logger = file:/var/log/uwsgi/app.log
daemonize = /var/log/uwsgi/app.log
log-format = %(addr) - %(user) [%(ltime)] "%(method) %(uri) %(proto)" %(status) %(size) "%(referer)" "%(uagent)"
