[Unit]
Description=uWSGI Emperor service
After=syslog.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=always
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/usr/local/bin/uwsgi --emperor /etc/uwsgi/apps-enabled --logto2 /var/log/uwsgi/emperor.log
KillSignal=SIGQUIT
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
